@charset "utf-8";
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(254,104,5,1.00) 0%,rgba(254,254,254,1.00) 45.39%,rgba(254,115,22,1.00) 95.13%,rgba(254,104,5,1.00) 98.86%,rgba(255,101,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(254,104,5,1.00) 0%,rgba(254,254,254,1.00) 45.39%,rgba(254,115,22,1.00) 95.13%,rgba(254,104,5,1.00) 98.86%,rgba(255,101,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(254,104,5,1.00) 0%,rgba(254,254,254,1.00) 45.39%,rgba(254,115,22,1.00) 95.13%,rgba(254,104,5,1.00) 98.86%,rgba(255,101,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(254,104,5,1.00) 0.00%,rgba(254,254,254,1.00) 45.39%,rgba(254,115,22,1.00) 95.13%,rgba(254,104,5,1.00) 98.86%,rgba(255,101,0,1.00) 100%);


}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(0deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);

}
.container-fluid .container footer {
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(0deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
}
footer .row .col-xl-6 {
    margin: auto;
    color: #FFFFFF;
}



.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #FE7E0B;
}
.navbar-nav.mr-auto .nav-item .nav-link {
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #FE7E0B;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #6BDB15;
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    background-color: #F38001;
}
.container-fluid .container .row {
    margin: auto;
}
.row .col-xl-4 .card.col-md-4.col-xl-12 {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    margin-left: 0px;
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
}
.col-xl-4 .card.col-md-4.col-xl-12 .card-img-top.img-fluid {
}
